<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat Box</h1>
    <h1>Chat app Using Socket</h1>
    <input id="startchat" type="hidden"  data-roomid="<%=roomid %>"></input>
    <input type="text" id="username" placeholder="username">
    <input type="text" id="newmsg" placeholder="message.....">
    <button id="btn">Send</button>

    <ul id="msgList">

    </ul>
    <script src="/socket.io/socket.io.js"></script>
    
    <script>
        var socket=io();

let btn=document.getElementById('btn');

let inputmsg=document.getElementById('newmsg');

let msgList=document.getElementById('msgList');

let startchat=document.getElementById('startchat');

let username=document.getElementById('username');

socket.emit('join_room',{
        roomid:startchat.getAttribute('data-roomid')
    });


btn.addEventListener('click',()=>{
    console.log("Button Clicked");
    socket.emit('msg_send',{
      msg:inputmsg.value,
      username:username.value,
      roomid:startchat.getAttribute('data-roomid')
    });
   
})



socket.on('msg_recieved',(data)=>{
    let limsg=document.createElement('li');
    let msg=data.username+": "+data.msg;
    limsg.innerText=msg;
    msgList.appendChild(limsg);
})
    </script>

</body>
</html>